.free {
  padding: 30px;
  height: 100px;
  width: 175px;
  background: purple;
  color: #FCD4F8;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  border-radius: 35%;
  margin-left: 50px;
  cursor: move;
}

.space {
	width: 10px;
	height: 50px;
	background: inherit;
}

#fruit {
  margin-left: 50px;
  display: none;
}

#fruitR {
  margin-right: 50px;
  display: none;
}

#vegie {
  margin-left: 50px;
  display: none;
}

#vegieR {
  margin-right: 50px;
  display: none;
}

#grains {
  margin-left: 50px;
  display: none;
}

#grainsR {
  margin-right: 50px;
  display: none;
}

#meats {
  margin-left: 50px;
  display: none;
}

#meatsR {
  margin-right: 50px;
  display: none;
}

#dairy {
  margin-left: 50px;
  display: none;
}

#dairyR {
  margin-right: 50px;
  display: none;
}
