.wifreset {
  border: none;
  background-color: #7161FF;
  padding: 13px;
  font-size: 19px;
  cursor: pointer;
  position:absolute;
  border-radius: 35%;
  font-family: "Arial";
  bottom: 5.7%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wifreset{
  /*color: #49548A;*/
  color: #3B4470;
}

.wifreset:hover {
  color: #5BFF3B;
}
