@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
#home {
    --first-color: #344bf6;
    --second-color: #d9cff5;
    --light-gray: lightgray;
}

#next {
    --first-color: rgb(153, 163, 248);
    --second-color: deepskyblue;
    --light-gray: lightgray;
}

html,body {
    padding: 0;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    color: var(--first-color);
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
}

body {
    display: flex;
}

body{
  background-image: url("img/diamond.jfif");
}

.wrap {
    left: 280px;
}

.center {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 95%;
}

.center header {
    background-color: var(--first-color);
    color: white;
}

header {
    background-color: blueviolet;
    flex: 0 0 40px;
    color: white;

    /* justify-content: center; */
    padding: 20px;
}

header nav {
    background-color: transparent;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.center header nav a:hover {
    text-decoration: underline
}

nav {
    background-color: #f0f0f0;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}

nav ul li{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: inline-flex;
    padding: 10px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.center section {
    flex: 1 1 auto;
    overflow-y: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/*
footer {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-column-gap: 20px;
    background-color: var(--second-color);
    flex: 0 0 80px;
    flex-direction: row;
    padding: 40px 0px;
}

footer section:first-child {
    grid-column: 2;
}
*/

.no-style li {
    list-style-type: none;
}

.no-style ul {
    margin-top: 0;
    padding: 0;
}

.no-style b {
    margin-bottom: 0;
    padding: 0;
}

.no-style address {
    font-style: normal;
}

main {
    min-height: 500px;
}

article {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-column-gap: 20px;
    padding-bottom: 100px;
}

article > * {
    grid-column: 2;
    min-width: 0;
}

article > figure {
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

article > aside {
    grid-column: 3;
    color: #666;
    font-size: 0.8em;
    padding-right: 20px;
}

p mark {
    background-color: var(--first-color);
    padding: 0 5px;
    color: white;
    font-weight: normal;
}

hr {
    background-color: var(--first-color);
    height: 2px;
    width: 100%;
    border: 0;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 98%;
    width: 50%;
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  font-family: Arial;
  background-color: blueviolet;
  color: white;
  text-align: center;
}


/* Taken from W3Schools! */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
