* {
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;	
	background: #f64851;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f6343f;
}	

.logo {
	float: left;
	margin: .5rem;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	display: block;
	padding-right: 1rem;
	margin-right: .75rem;
}

.navbar-links a:hover {
	color: #0070eb;
	transition: all ease-in-out 250ms;
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 10px;
}

@media (max-width: 600px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}

.container {
	width: 12000px;
	margin: 20px auto;
	columns: 4;
	column-gap: 40px;
}

.container .box {
	width: 100%;
	margin: 0 0 20px;
}

/* ignore this line, can implement if the transition/colors are not well thought out later in the final UI iteration */
/*.navbar-links li:hover {
	background-color: #0070eb;
}*/

/* god bless W3Schools for making this work...other crap was rubbish and performed slowly...refer to website & w3bits.com */
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.column img:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }